<div class="bg-success px-3 py-5 text-dark">
<h1 class="text-light bg-dark rounded px-3 py-3 pl-10 bg-opacity-75 shadow-lg">Your Dashboard</h1>
</div>

<form class="createpost-form h-100 px-5 py-3 bg-light bg-opacity-50 border rounded-3 my-3 mx-4 dash">
    <h2>Create New Post</h2>
    <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" />
    </div>
    <div>
        <label for="content">Content</label>
        <textarea id="post-content" cols="30" rows="3"></textarea>
    </div>
    <div>
        <button class="btn btn-outline-secondary" type="submit">Create</button>
    </div>
</form>
<script src="/js/dashboard.js"></script>