
<div class="bg-success px-3 py-5 text-dark">
<h1 class="text-light bg-dark rounded px-3 py-3 pl-10 bg-opacity-75 shadow-lg">Ultimate Tech Blog</h1>
</div>
<ol class="post-list">
  {{#each posts}}
  <li class="h-100 px-5 py-3 bg-light bg-opacity-50 border rounded-3 my-3 mx-4">
    <article class="post d-flex flex-column">
       <div>
            <a href="#" class="title nav-link text-dark fw-bolder fs-4 pb-2 link-secondary">{{title}}</a>
            <p>by {{user.username}} on {{created_at}}</p>
       </div> 
        
      <div class="meta">
        <p>{{content}} </p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

