
<div class="bg-success px-3 py-5 text-dark">
<h1 class="text-light bg-dark rounded px-3 py-3 pl-10 bg-opacity-75 shadow-lg">Log in</h1>
</div>
<form class="login-form h-100 px-5 py-3 bg-light bg-opacity-50 border rounded-3 my-3">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="btn btn-outline-dark my-3" type="submit">Log in</button>
  </div>
  <a href="/signup">Sign Up instead</a>
</form>



<script src="/js/login.js"></script>